:root{
    margin:0;
    padding:0;
}

/* Positioning div and img */
.container{
    position:relative;
    width: 300px;
    height: 400px;
}
.container .on-hover, img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
.on-hover{
    transition: all 0.4s ease;
}

.on-hover h3{
    color:white;
    text-align: center;
    justify-content: 50%;
}
.on-hover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}


