/* Website general setting */
html{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url("../mountain_c.jpg");
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
}


h1{
    text-align: center;
    text-decoration: underline;
}

/* Div properties */
div{
    margin: 5vh 10vw;
    width: 80vw;
    min-height: 50vh;
    text-indent: 30px;
    color: rgb(189, 176, 176);
}

.description img{
    float:right;
    width: 300px;
    
    
}