* {
    background-image: url("../images/night\ city.jpg");
    margin:0;
    padding:0;
}



body {
    /* margin: 100px; */
    display:block;
    margin: 5vh 5vw;
    background-color: rgba(153, 148, 148, 0.9);
    background-image: none;
    width: 90vw;
    height: 90vh;
}

h1{
    background-image: none;
    color: rgba(255,255,255,1);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    background-image: none;
    color: black;
    margin: 5vh 10vw;
    width: 70vw;
    text-indent: 10px;
    font-family: 'Courier New', Courier, monospace;
}